body{
  background-color: black;
}
.grid{
  z-index: -1;
  position: absolute;
  left: 0;
  top:0;
  display: grid;
  height: 100vh;
}
.no-gutters {
margin-right: 0;
margin-left: 0;

div > .col,
div > [class*="col- col-sm- col-lg-"] {
padding-right: 0;
padding-left: 0;
}
}
img {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.content {
position: relative;
width: 100%;
margin: auto;
overflow: hidden;
}

.content {
background: rgba(0,0,0,0.7);
position: absolute;
padding:20px 20px 20px 20px;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.content:hover {
opacity: 1;
}

.content:hover .content-details{
top: 50%;
left: 50%;
cursor: pointer;
opacity: 1;
}
.content-details {
position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.content-details h3{
color: #fff;
font-weight: 500;
letter-spacing: 0.15em;
margin-bottom: 0.5em;
text-transform: uppercase;
}

.content-details p{
color: #fff;
font-size: 0.8em;
}

.fadeIn-bottom{
top: 80%;
}

.logo-image{
width: 100px;
height: 100px;

}
.logo{
padding-left:50px;
float: left;
}
.nav{
float:right;
margin: 0;
padding-right:50px;
padding-top:40px;
}
